* {
    box-sizing: border-box;
}

.content-container {
    margin: 30px 40px 0px 30px;
    display: flex;
    flex-direction: column;
}

.settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: 282px;
    }
    
    .avatar-zone {
        width: 137px;
        height: 137px;
        border-radius: 100%;
        position: absolute;
        margin: 234px 0px 0px 50px;
        background-color: var(--primary-colour);
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar {
            width: 122px;
            height: 122px;
            border-radius: 100%;            
        }

        label {
            position: absolute;
            width: 122px;
            height: 122px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--border, 0.5);
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            transition: 0.6s; 
        }

        input {
            position: absolute;
            visibility: hidden;
        }

        .active {
            color: rgba(0,0,0,0);
            background-color: rgba(0,0,0,0); 
        }

        label:hover {
            color: rgb(0, 0, 0);
            background-color: rgba(160, 160, 160, 0.5);
            cursor: pointer;
        }
    }
    
    .block-of-changes {
        display: flex;
        padding-left: 217px;
        align-items: center;
        height: 90px;
        
        h1 {
            text-align: center;
            width: 120px;
            height: 39px;
            margin-top: 20px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 39px;
            color: var(--label);
        }
    }
}

.buttons {
    margin-top: 40px;

    button {
        color: var(--primary-colour);
        background-color: var(--accent-colour);
        width: 64px;
        height: 40px;
        border-radius: 8px;
        border: 0px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    button:hover {
        cursor: pointer;
    }

    .cancel-button {
        width: 80px;
        background: var(--border);
        color: #000000;
        margin-right: 10px;
        border: 1px solid var(--input-border);
    }
}

.user-information {
    width: 100%;

    ul {
        margin-top: 30px;
        padding-left: 60px;
        display: flex;
        list-style-type: none;

        li {
            margin-right: 30px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: var(--input-placeholder);
        }

        li:hover {
            cursor: pointer;
        }
    }

    .active {
        color: var(--label);
        font-weight: 700;
    }
}

.profile-info {
    padding-left: 60px;

    .full-name {
        margin-top: 20px;
        display: flex;

        label {
            margin-right: 24px;

            input {
                width: 308px;
                height: 45px;
            }
        }
    }

    label {
        margin-top: 15px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: var(--label);
        display: flex;
        flex-direction: column;
    }

    input {
        width: 308px;
        height: 45px;
        padding: 0px 0px 0px 10px;
        border: 1px solid var(--input-border);
        border-radius: 9px;
        background: var(--border);
        font-weight: 500;
        font-size: 14px;
        font-family: 'DM Sans';
        color: var(--input-placeholder);
    }

    input:focus {
            outline: none;
    }

    .email {
        height: 45px;
        width: 512px;
        border: 1px solid var(--input-border);
        border-radius: 9px;
        background: var(--border);
        display: inline-flex;
        align-items: center;

        input {
            width: 468px;
            border-radius: 9px;
            border: 0px;
            height: 18px;
            padding: 14px 0px 14px 20px;
        }

        img {
            width: 17px;
            height: 14px;
            margin: 15px 0px 16px 16px;
        }
    }

    .email-field {
        margin-top: 55px;

        label {
            margin-top: 15px;
        }
    }
}
